<nav class="navbar">
  <ul class="navbar-item">
    <li>
      <img
        class="logo"
        src="/app/assets/logo.svg"
        alt="logo"
        width="46"
        height="46"
      />
      <a class="active" href="#">MusiQ</a>
    </li>
    <li><a href="#">Library</a></li>
    <li><a href="#">Browse</a></li>
    <li id="loginbtn" class="navbar-item-right">
      <a href="#">Login</a>
    </li>
    <li id="registerbtn" class="navbar-item-right register">
      <a href="#">Register</a>
    </li>
  </ul>
</nav>
