<main class="main">
  <div class="jumbotron">
    <div class="player-screen">
      <div class="player-title">
        <h1>
          Favourites
        </h1>
        <hr />
      </div>
      <div class="player-card">
        <img
          src="/app/assets/album-1.jpeg"
          alt="album image"
          height="150"
          width="200"
        />
        <p class="artist-track">All Time Low</p>
        <p class="artist-name">Erik Conta</p>
      </div>
      <div class="player-card">
        <img
          src="/app/assets/album-2.jpeg"
          alt="album image"
          height="150"
          width="200"
        />
        <p class="artist-name">Clocks</p>
        <p class="artist-name">Wanye Kest</p>
      </div>
      <div class="player-card">
        <img
          src="/app/assets/album-3.jpeg"
          alt="album image"
          height="150"
          width="200"
        />
        <p class="artist-track">Rain in Winter</p>
        <p class="artist-name">Lil Burgundy</p>
      </div>
      <div class="player-card">
        <img
          src="/app/assets/album-4.jpeg"
          alt="album image"
          height="150"
          width="200"
        />
        <p class="artist-track">Christmas is Amazing</p>
        <p class="artist-name">Tiny Wayne</p>
      </div>
      <div class="player-card">
        <img
          src="/app/assets/album-5.jpeg"
          alt="album image"
          height="150"
          width="200"
        />
        <p class="artist-track">Christmas is coming!</p>
        <p class="artist-name">Big Boy</p>
      </div>
      <div class="player-card">
        <img
          src="/app/assets/album-6.jpeg"
          alt="album image"
          height="150"
          width="200"
        />
        <p class="artist-name">Life is a river</p>
        <p class="artist-name">Albama man</p>
      </div>
    </div>
  </div>
</main>
