<main class="main">
  <div class="sidebar-nav">
    <div class="search-bar">
      <i class="fas fa-search"></i
      ><input type="text" placeholder="Search..." class="no-hover search-box" />
      <hr />
    </div>
    <ul class="navbar-item">
      <li><i class="fas fa-heart"></i><a href="#">Favourites</a></li>
      <li><i class="fas fa-list"></i><a href="#">Categories</a></li>
      <li><i class="fas fa-music"></i><a href="#">Playlist</a></li>
    </ul>
  </div>
  <div class="jumbotron">
    <div class="player-screen">
      <div class="player-title">
        <h1>
          Favourites
        </h1>
        <hr />
      </div>

      <div *ngFor="let artist of artistInfo">
        <div class="player-card" (click)="selectArtist(artist)">
          <img
            src="{{ artist.albumCover }}"
            alt="album image"
            height="150"
            width="200"
          />
          <p class="artist-track">{{ artist.trackName }}</p>
          <p class="artist-name">{{ artist.artistName }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
