<div id="modal-login" class="modal">
  <div class="modal-content">
    <form #form>
      <div class="container">
        <h1>Login</h1>
        <hr />
        <label for="email">Email</label>
        <input
          required
          type="text"
          placeholder="Email Address"
          name="email"
          [(ngModel)]="user.email"
        />

        <label for="password"><b>Password</b></label>
        <input
          required
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="user.password"
        />
        <hr />
        <div class="login-form-btn">
          <button (click)="loginUser()" class="loginbtn">
            Login
          </button>
          <button routerLink="/" id="closebtnlogin" class="loginbtn danger">
            Close
          </button>
          <a href="#" class="forgot-pass">Forgot Password?</a>
        </div>
        <!-- <hr /> -->
      </div>
    </form>
  </div>
</div>
