<div class="audio-player">
  <div class="player">
    <div id="info" class="info">
      <span id="artist" class="artist">{{ artist.artistName }} </span>
      <span id="title" class="name"> {{ artist.trackName }}...</span>
      <div class="progress-bar">
        <div class="bar"></div>
      </div>
    </div>
    <div id="control-panel" class="control-panel">
      <div class="album-art"></div>
      <div class="controls">
        <div
          (click)="previous($event)"
          id="player-controller-prev-btn"
          class="prev fas fa-backward"
        ></div>
        <div
          (click)="play($event)"
          id="player-controller-play-btn"
          class="play fas {{ iconChange }}"
        ></div>
        <div
          (click)="next($event)"
          id="player-controller-next-btn"
          class="next fas fa-forward"
        ></div>
      </div>
    </div>
  </div>
</div>
