<div class="audio-player">
  <div class="player">
    <div id="info" class="info">
      <span id="artist" class="artist">Wanye Kest</span>
      <span id="title" class="name">Clocks...</span>
      <div class="progress-bar">
        <div class="bar"></div>
      </div>
    </div>
    <div id="control-panel" class="control-panel">
      <div class="album-art"></div>
      <div class="controls">
        <div class="prev fas fa-backward"></div>
        <div id="play" class="play fas fa-play"></div>
        <div class="next fas fa-forward"></div>
        <audio id="audio-test">
          <source src="/app/assets/audio-1.mp3" type="audio/mp3" />
        </audio>
      </div>
    </div>
  </div>
</div>
