/* Color palletes */
/* 
#081317
#3A3E3B
#484D6D
#001021
#FFFFFF
*/

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;

  background: #3a3e3b;
}
nav {
  background: 081317;
}

.navbar {
  width: 100%;
  height: 46px;
  background-color: #081317;
}
li {
  display: inline-block;
}
/* Navbar items */
ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 0%;
  width: 100%;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.logo {
  padding: 0;
  padding-left: 20px;
  float: left;
  /* margin: 0; */
}
li:hover {
  background-color: #3a3e3b;
}

li:active {
  background-color: rgb(49, 48, 48);
}

.navbar-item-right {
  float: right;
}

.main {
  display: flex;
  justify-content: center;
  height: 100%;
  box-shadow: 0 0 30px #333;
  filter: drop-shadow(0 0 30px rgb(63, 62, 62));
}

.jumbotron {
  height: 100%;
  width: 60%;
  text-align: center;
  background: #ffffff;
}
.sidebar-nav {
  background: #211626;
  width: 25%;
  height: 100%;
  text-align: center;
}
.sidebar-nav ul li {
  display: block;
  text-align: left;
  padding-left: 1.5em;
}

i {
  color: white;
}
