html,
body {
  margin: 0;
}
nav {
  background: #444444;
}

.navbar {
  width: 100%;
  height: 46px;
  background-color: #333;
}
li {
  display: inline-block;
}
/* Navbar items */
ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  padding: 0%;
  width: 100%;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.logo {
  padding: 0;
  padding-left: 20px;
  float: left;
  /* margin: 0; */
}
li:hover {
  background-color: rgb(63, 63, 63);
}

li:active {
  background-color: rgb(49, 48, 48);
}

.navbar-item-right {
  float: right;
}
