<div id="modal-register" class="modal">
  <div class="modal-content">
    <form>
      <div class="container">
        <h1>Register</h1>
        <hr />
        <label for="email">Email</label>
        <input
          required
          type="text"
          placeholder="Email Address"
          name="email"
          [(ngModel)]="user.email"
        />

        <label for="password"><b>Password</b></label>
        <input
          required
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="user.password"
        />
        <label for="re-password"><b>Confirm Password</b></label>
        <input
          required
          type="password"
          placeholder="Confirm Password"
          name="re-password"
          [(ngModel)]="user.rePassword"
        />

        <label for="re-password"><b>Date of Birth</b></label>
        <input
          required
          type="date"
          placeholder="Year"
          name="re-password"
          [(ngModel)]="user.dateOfBirth"
        />
        <hr />
        <div class="login-form-btn">
          <button (click)="register()" class="loginbtn">Register</button>
          <button routerLink="/" id="closebtnreg" class="loginbtn danger">
            Close
          </button>
          <a href="#" class="forgot-pass">Already Have an Account?</a>
        </div>
      </div>
    </form>
  </div>
</div>
